@import "tailwindcss";

:root {
  --background: #ffeef6;
  --foreground: #171717;
  --font-geist-sans: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  
  /* Valentine Theme */
  --bg1: #ffd6e7;
  --bg2: #ffeef6;
  --card: #ffffffcc;
  --yes: #ff3b7a;
  --yesHover: #ff1f68;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffeef6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
